<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<h1>Hello there, <%= @cat_name %></h1>
	<h2>Kittens are love</h2>
	<h3>Kittens are life</h3>

	<% if !@cat_name %>
	  <form action="/named-cat">
			<input type='text' name='name' placeholder='Enter a name'>
			<input type='submit' name='submit' value='Assign Name'>
		</form>
	<% end %>

	<img src="https://placekitten.com/g/100/100" alt="Picture of a cat">
	<img src="https://placekitten.com/g/200/200" alt="Picture of a cat">
	<img src="https://placekitten.com/g/300/300" alt="Picture of a cat">
	
</body>
</html>
