<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<h1>Hello there, <%= ["Mittens", "Milkshake", "Fuzzball"].sample %></h1>
	<h2>Kittens are love</h2>
	<h3>Kittens are life</h3>
	<img src="https://placekitten.com/g/100/100" alt="Picture of a cat">
	<img src="https://placekitten.com/g/200/200" alt="Picture of a cat">
	<img src="https://placekitten.com/g/300/300" alt="Picture of a cat">
</body>
</html>